.uk-cover-container{
  height: 100vh;
  .video-entity-container {
    .video-container {
      height: 100%;
      width: 100%;
    }
    .entity-link {
      bottom: 200px;
      a {
        text-decoration: none;
        color: white;
      }
      @media (min-width: 425px) {
        bottom: 190px;
      }
      @media (min-width: 768px) {
        bottom: 100px;
      }
    }
  }
  .social-network {
    bottom: 150px;
    ul {
      li {
        margin-right: 10px;
        a {
          text-decoration: none;
          color: white;
          i {
            font-size: 25px;
          }
        }
      }
    }
    @media (min-width: 425px) {
      bottom: 125px;
    }
  }
}

.test {
  @media (min-width: 768px) {
    display: flex;
  }
}