* {
  box-sizing: border-box;
}

.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .bck-container {
  position: relative;
}
.container .bck-container .videoBckg {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .container .bck-container .videoBckg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.container .bck-container i {
  position: absolute;
  top: 35%;
  right: 45%;
  font-size: 20px;
  color: rgba(166, 166, 166, 0.83);
  transition: color 350ms ease-in;
  z-index: 999;
}
.container .bck-container i:hover {
  color: #4d4d4d;
}
@media screen and (min-width: 426px) {
  .container .bck-container i {
    top: 45%;
    right: 45%;
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .container .bck-container i {
    top: 40%;
    right: 50%;
    font-size: 40px;
  }
}
@media screen and (min-width: 426px) {
  .container .bck-container {
    position: unset;
  }
}
.container .container-social-video {
  position: absolute;
  width: 100%;
  height: 45%;
  bottom: 0;
}
.container .container-social-video .orga {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row-reverse;
  position: relative;
  top: 6%;
}
.container .container-social-video .orga .social-network {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  width: 33%;
}
@media screen and (min-width: 768px) {
  .container .container-social-video .orga .social-network {
    width: 33%;
  }
}
@media screen and (min-width: 1440px) {
  .container .container-social-video .orga .social-network {
    width: 33%;
  }
}
.container .container-social-video .orga .social-network ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0;
  justify-content: flex-start;
}
.container .container-social-video .orga .social-network ul li, .container .container-social-video .orga .social-network ul a, .container .container-social-video .orga .social-network ul img {
  text-decoration: none;
  color: white;
  font-size: 30px;
  width: 30px;
  margin-right: 3px;
}
@media screen and (min-width: 1024px) {
  .container .container-social-video .orga .social-network ul li, .container .container-social-video .orga .social-network ul a, .container .container-social-video .orga .social-network ul img {
    font-size: 50px;
  }
}
@media screen and (min-width: 375px) {
  .container .container-social-video .orga {
    top: 34px;
  }
}
@media screen and (min-width: 425px) {
  .container .container-social-video .orga {
    top: 39px;
  }
}
@media screen and (min-width: 768px) {
  .container .container-social-video .orga {
    position: unset;
  }
}
.container .container-social-video .entity-container {
  text-align: center;
  width: 33%;
}
.container .container-social-video .entity-container a, .container .container-social-video .entity-container img {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .container .container-social-video .entity-container a, .container .container-social-video .entity-container img {
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .container .container-social-video .entity-container a, .container .container-social-video .entity-container img {
    width: 30%;
  }
}
.container .container-social-video .test {
  width: 33%;
  height: 100%;
}
@media screen and (max-width: 319px) {
  .container .container-social-video {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .container .container-social-video {
    top: 63%;
  }
}
@media screen and (min-width: 650px) {
  .container .container-social-video {
    top: 65%;
  }
}
@media screen and (min-width: 768px) {
  .container .container-social-video {
    bottom: 10%;
    top: unset;
    height: unset;
  }
}
@media screen and (max-height: 20px) {
  .container .container-social-video {
    display: none;
  }
}

.playing {
  opacity: 0;
}

.landscape-mod {
  position: absolute !important;
  transform: rotate(90deg) !important;
  transform-origin: bottom left !important;
  width: 100vh !important;
  height: 100vw;
  object-fit: cover;
  z-index: 4;
  visibility: visible;
}

.test2 {
  top: 7% !important;
}

@media screen and (orientation: landscape) {
  .container-social-video .orga {
    top: 45px !important;
  }
}
@media screen and (min-width: 890px) and (orientation: landscape) {
  .container-social-video .orga {
    position: absolute;
    top: 45px !important;
  }
}
@media (max-height: 380px) {
  .container-social-video {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
